:root {
    --input-radius: 4px;
    --text-paddign: 40px;
    --def-col: rgb(0,0,0,0.3);
    --black: rgb(0,0,0);
    --main-col: rgb(220, 222, 223);
    --accent-col: rgb(227, 207, 132);
    --page-font: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
     padding: 0; 
     margin: 0; 
     box-sizing: border-box;
}



.intro-txt{
    font-size: medium;
    padding: var(--text-paddign);
    font-size: x-large;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-col);
    font-family: var(--page-font);
}

.form-img {
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

.text-side {
    display: flex;
    flex-direction: column;
}


#page-form {
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--def-col);
}

.form-input {
    color: var(--blackl);
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.form-input button {
    font-size: 16px;
	font-weight: bold;
    color: var(--black);
	background-color: var(--accent-col);

	border: none;
	border-radius: 3px;

	padding: 10px 40px;
	cursor: pointer;

    box-shadow: 2px 3px black;
}

.form-input button:hover {
    background-color: var(--def-col);
    color: var(--accent-col); 
}

.form-input button:active {
    box-shadow: 0 1px var(--accent-col);
    background-color: var(--def-col);
    color: var(--accent-col); 
    transform: translateY(2px);   
}

input[type='text'], input[type='tel'], input[type='password'] {
    opacity: 0.3;
    border: 1px solid var(--accent-col);
    width: 50%;
    border-radius: 4px;
    display: block;
    padding: 2px 1.5em;
}

.log-in {
    text-decoration: none;
    color: var(--black);
    text-shadow: 1px 1px var(--accent-col);
}

h1.general-txt.form-input{
    color: var(--black);
    padding: 0;
    font-size: large;
    text-decoration: underline;
}

.general-txt {
    padding: var(--text-paddign);
    font-size: medium;
}


@media screen and (min-width: 700px) {

    body {
        flex-direction: row;
    }

    #page-form {
        display: flex;
        width: 60vw;
        flex-flow: row wrap;
        font-size: 1rem;
    }

    .form-input {
        width: 20rem;
        display: block;
        padding: 20px;
    }

    input[type='text'], input[type='tel'], input[type='password'] {
        width: 100%;
        margin-top: 5px;
    }

    .form-img {
        width: 40vw;
        height: 100vh;
    }

    .text-side {
        /* Puts form in middle of page */
        margin: 25vh 0; 
    }
}